/* Header Css */
.headerContainer {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	background: url("../public/HeaderSVG.svg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: contain;
}

.headerPersonalInfo b {
	color: #714ade;
}

.avatarContainer {
	height: 400px;
	width: 400px;
	border-radius: 50%;
	background: url("../public/avatar.svg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: contain;
	cursor: pointer;
}

/* main Content Css */
.mainContainer {
	background: url("../public/mainContentBG.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: contain;
	padding-top: 10%;
}

.aboutMeImage > div {
	border-radius: 15px;
	/* box-shadow: #495057; */
}

.aboutMeDesc {
	font-size: 1.2rem;
	color: #495057;
	padding-left: 5px;
}

.expertiseContainer > div {
	border-radius: 20px !important;
	border: none;
	cursor: pointer;
}

.expertiseContainer h3 {
}

/* contact me css */
.contactMe {
	background: url("../public/ContactMe.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: contain;
	background-position: right;
	padding-top: 10%;
}

@media (max-width: 767.98px) {
	.avatarContainer {
		display: none;
	}

	.mainContainer {
		background: none;
	}

	.skillsContainer {
		background: #714ade;
		/* background-size: contain;
    background-repeat: repeat; */
	}
}
