.headerContainer {
	width: 100vw;
	height: 100vh;
	background: url('/headerSVG.svg');
	background-repeat: no-repeat;
	background-position-x: right;
}

.headerPersonalInfo b {
	color: #714ade;
}

.avatarContainer {
	border-radius: 50%;
	background: url('/avatar.svg');
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: cover;
	/* background-position-y: 50px; */
}
